<h1><%= @cocktail.name %></h1>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"><%= dose.description %><%= dose.ingredient.name %> </li>
    <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure"} %>  
    <% end %>
</ul>



<%= link_to 'Add a new dose',  new_cocktail_dose_path(@cocktail) %>
<%= link_to 'Back to Cocktails', cocktails_path(@cocktail) %>